<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275078515342-htk34llcfk7187b972tdc7nmpug3en42.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275078515342-htk34llcfk7187b972tdc7nmpug3en42</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>275078515342-3ajgj1b870b8csok9p3plvmlmp2dp8rk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCXIE2r_z63IdcRZOrwhjcEhUI7-wK8RQg</string>
	<key>GCM_SENDER_ID</key>
	<string>275078515342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TakeAwayDriver</string>
	<key>PROJECT_ID</key>
	<string>takeawaydriver</string>
	<key>STORAGE_BUCKET</key>
	<string>takeawaydriver.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275078515342:ios:d2120d876a1e5350e617df</string>
	<key>DATABASE_URL</key>
	<string>https://takeawaydriver.firebaseio.com</string>
</dict>
</plist>